{
  "presets": [
    ["env", {
      "targets": {
        "node": "6.10"
      },
      "exclude": [
        "transform-regenerator"
      ]
    }]
  ],
  "plugins": [
    ["transform-runtime", {
      "polyfill": true,
      "regenerator": true
    }],
    "transform-export-extensions",
    "transform-object-rest-spread"
  ]
}
